/***********navbar part start**************/
.navbarsection{
  padding: 18px 0px !important;
}

.navbarsection .listitem{
  gap: 44px;
}

.navbarsection .menuitem{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.navbarsection .menuitem:hover{
  color: #046333;
}

.navbarsection .btn{
  margin-left: 32px;
  padding: 8px 20px;
  border: none;
  border-radius: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.navbarsection .btn:hover{
  background-color: #046333;
}
/***********navbar part end**************/

/***********Awsome part start**************/

.aw-sec{
  padding: 64px 0px;
}

.aw-sec h1{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 56px;
  width: 545px;
}

.aw-sec p{
  padding: 30px 0px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 555px;
}

.aw-sec .awbtn{
  background-color: black;
  color: #ffff;
  padding: 8px 20px;
  border: none;
  border-radius: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.aw-sec .awbtn:hover{
  background-color: #00413D;
}

.aw-sec .className{
  width: 100%;
}
/***********Awsome part end**************/

/***********Team part start**************/
.team-sec{
  padding: 64px 0px;
}

.team-sec .team-heading{
  text-align: center;
}

.team-sec .team-heading h2{
  padding-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.team-sec .team-heading p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 580px;
  display: inline-block;
}

.team-sec .card-main{
  margin-top: 64px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-sec .card-main .card{
  border-radius: 0;
}

.team-sec .card-main .card-title{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.team-sec .card-main p{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.team-sec .card-main .card-text{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/***********Team part end**************/

/***********Client part start**************/
.clientPart{
  padding: 64px 0px;
}
.clientPart h2{
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.clientPart .client-img{
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/***********Client part end**************/

/***********Form part start**************/
.form-part h2{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;

}

.form-part p{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;

}

.form-part{
    padding: 64px 0px;
}


.form-part .maintouch{
    text-align: center;
    margin-bottom: 40px;
    
}



.form-part .form-design{
    width: 500px;
    margin: 0 auto;
}


.form-part .form-design .form-border{
    border: 2px solid black;
}

.form-part .form-design .form-btn{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: block;
    width: 100%;
    padding: 12px 0px;
    background-color: black;
    color: white;
}
/***********Form part end**************/

/***********Team part start**************/
.footer-part{
    padding: 80px 0px;
    background-color: #F5F7FA;
}

.footer-part h2{
    padding-bottom: 16px;
}

.footer-part .copyright{
    text-align: center;
    padding-top: 56px;
}

/***********Team part end**************/