.navbarsection{
  padding: 18px 0px !important;
}

.navbarsection .listitem{
  gap: 44px;
}

.navbarsection .menuitem{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.navbarsection .menuitem:hover{
  color: #00413D;
}

.navbarsection .btn{
  margin-left: 32px;
  padding: 8px 20px;
  border: none;
  border-radius: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.navbarsection .btn:hover{
  background-color: #00413D;
}